body {
    background-color: #fff;
    color: #666;
    font-family: 'Helvetica Neue', 'Luxi Sans', 'DejaVu Sans', Tahoma, 'Hiragino Sans GB', STHeiti, 'Microsoft YaHei';
}

.btn-weichat {
    color: #ffffff;
    background-color: #609700;
    border-color: rgba(0, 0, 0, 0.2);
}
.btn-weichat:focus,
.btn-weichat.focus {
    color: #ffffff;
    background-color: #348903;
    border-color: rgba(0, 0, 0, 0.2);
}
.btn-weichat:hover {
    color: #ffffff;
    background-color: #348903;
    border-color: rgba(0, 0, 0, 0.2);
}
.btn-weichat:active,
.btn-weichat.active,
.open > .dropdown-toggle.btn-weichat {
    color: #ffffff;
    background-color: #348903;
    border-color: rgba(0, 0, 0, 0.2);
}
.btn-weichat:active,
.btn-weichat.active,
.open > .dropdown-toggle.btn-weichat {
    background-image: none;
}

.skin-blue .wrapper, .skin-blue .main-sidebar, .skin-blue .left-side {
    background-color: #293038;
}

.skin-blue .sidebar-menu > li.header {
    color: #b8c7ce;
}
.skin-blue .sidebar a {
    color: #fff;
}
.skin-blue .sidebar a:hover {
    background-color: #37424f;
}
.skin-blue .treeview-menu > li > a {
    color: #fff;
}
.login-bg {
    background:#00243d url(../images/bg.jpg) center center no-repeat fixed;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    -webkit-tap-highlight-color:transparent;
}
.login-logo a, .register-logo a {
    color: #ddd;
}